.border {
  border: 2px solid #ced4da !important;
}

.toggle-width {
  min-width: 2rem;
  z-index: 1;
}

.toggle.ios,
.toggle-on.ios,
.toggle-off.ios {
  border-radius: 20rem;
}
.toggle.ios .toggle-handle {
  border-radius: 20rem;
}
